<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="BuddyArm">

  <!--
  =============================================================
                              LINKS
  Origin values based on FreeCAD assembly translation and
  rotation
  =============================================================
   -->

  <link name="mcu_base_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-Base.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_base_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Base.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_turret_housing_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Turret_Housing.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_platform_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Platform.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_arm_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Arm.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_tension_ring_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Tension_Ring.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_turret_housing_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Turret_Housing.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j3_bearing_cup_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J3_Bearing_Cup.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j3_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J3_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j4_turret_housing_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J4_Turret_Housing.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j4_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J4_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j5_arm_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J5_Arm.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j5_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J5_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j6_arm_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J6_Arm.dae"/>
      </geometry>
    </visual>
  </link>

  <!--
  =============================================================
                              JOINTs
  Origin values based on FreeCAD assembly translation and
  rotation
  - mcu_base is the origin positon 0,0,0
  - see 'Hardware/' under 'phunguyen/basic-assembly' branch,
   grep for 'zero pose' commit.
  =============================================================
   -->
  <joint name="mcu_base_to_j1_base_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_base_link"/>
    <origin xyz="0 0.075 0.018"/>
  </joint>

  <joint name="mcu_base_to_j1_turret_housing_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_turret_housing_link"/>
    <origin xyz="0 0.225 0.025"/>
  </joint>

  <joint name="j1_base_to_j1_spindle_joint" type="revolute">
    <parent link="j1_base_link"/>
    <child link="j1_spindle_link"/>
    <origin xyz="0 0.150 -0.025"/>
    <axis xyz="0 0 1"/>
    <limit lower="${pi/2}" upper="${-pi/2}" effort="1000.0" velocity="0.2"/>
  </joint>

  <joint name="j1_spindle_to_j1_platform_joint" type="fixed">
    <parent link="j1_spindle_link"/>
    <child link="j1_platform_link"/>
    <origin xyz="0 0 0.097"/>
  </joint>

  <joint name="j1_platform_to_j2_turret_housing_joint" type="fixed">
    <parent link="j1_platform_link"/>
    <child link="j2_turret_housing_link"/>
    <origin rpy="${pi/2} 0 ${-pi/2}" xyz="-0.021 0.020 0"/>
  </joint>

  <joint name="j2_turret_housing_to_j2_spindle_joint" type="revolute">
    <parent link="j2_turret_housing_link"/>
    <child link="j2_spindle_link"/>
    <origin rpy="${pi} 0 ${pi}" xyz="-0.040 0.050 0.040"/>
    <axis xyz="0 0 1"/>
    <limit lower="${pi/5}" upper="${-pi/2}" effort="1000.0" velocity="0.2"/>
  </joint>

  <joint name="j2_spindle_to_j2_tension_ring_joint" type="fixed">
    <parent link="j2_spindle_link"/>
    <child link="j2_tension_ring_link"/>
    <origin rpy="${-pi} 0 0" xyz="0 0 0.0710"/>
  </joint>

  <joint name="j2_spindle_to_j2_arm_joint" type="fixed">
    <parent link="j2_spindle_link"/>
    <child link="j2_arm_link"/>
    <origin rpy="0 ${-pi/2} -0" xyz="0.0300 -0.0300 0.0050"/>
  </joint>

  <joint name="j2_arm_to_j3_bearing_cup_joint" type="fixed">
    <parent link="j2_arm_link"/>
    <child link="j3_bearing_cup_link"/>
    <origin rpy="${-pi/2} 0 ${pi/2}" xyz="0.0320 0.2630 0.0300"/>
  </joint>

  <joint name="j3_bearing_cup_to_j3_spindle_joint" type="revolute">
    <parent link="j3_bearing_cup_link"/>
    <child link="j3_spindle_link"/>
    <origin rpy="0 0 ${pi}" xyz="0 0 -0.0200"/>
    <axis xyz="0 0 1"/>
    <limit lower="${pi/2}" upper="${-pi/2}" effort="1000.0" velocity="0.2"/>
  </joint>

  <joint name="j3_spindle_to_j4_turret_housing_joint" type="fixed">
    <parent link="j3_spindle_link"/>
    <child link="j4_turret_housing_link"/>
    <origin rpy="${-pi} 0 0" xyz="0 0 0"/>
  </joint>

  <joint name="j4_turret_housing_to_j4_spindle_joint" type="revolute">
    <parent link="j4_turret_housing_link"/>
    <child link="j4_spindle_link"/>
    <origin rpy="${pi/2} 0 0" xyz="-0.0570 0.0620 -0.0190"/>
    <axis xyz="0 0 1"/>
    <limit lower="${pi * 1.5}" upper="${-pi * 1.5}" effort="1000.0" velocity="0.2"/>
  </joint>

  <joint name="j4_spindle_to_j5_arm_joint" type="fixed">
    <parent link="j4_spindle_link"/>
    <child link="j5_arm_link"/>
    <origin rpy="${-pi/2} 0 ${pi/2}" xyz="0.0210 -0.0170 0"/>
  </joint>

  <joint name="j5_arm_to_j5_spindle_joint" type="revolute">
    <parent link="j5_arm_link"/>
    <child link="j5_spindle_link"/>
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="0.0030 0.1075 0.0210"/>
    <axis xyz="0 0 1"/>
    <limit lower="${pi/2}" upper="${-pi/2}" effort="1000.0" velocity="0.2"/>
  </joint>

  <joint name="j5_spindle_to_j6_arm_joint" type="fixed">
    <parent link="j5_spindle_link"/>
    <child link="j6_arm_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.0250"/>
  </joint>

  <!-- TODO: joint type revolute, add this when we have end-effector CAD -->
  <!-- TODO: end-effector -->
</robot>
