<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="BuddyArm">

  <!--
  =============================================================
                              LINKS
  Origin values based on FreeCAD assembly translation and
  rotation
  =============================================================
   -->

  <link name="mcu_base_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-Base.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_base_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Base.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_turret_housing_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Turret_Housing.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_platform_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Platform.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j1_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J1_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_arm_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Arm.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_spindle_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Spindle.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_tension_ring_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Tension_Ring.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="j2_turret_housing_link">
    <visual>
      <geometry>
        <mesh filename="package://buddyarm_urdf/mesh/buddy_arm-J2_Turret_Housing.dae"/>
      </geometry>
    </visual>
  </link>

  <!--
  =============================================================
                              JOINTs
  Origin values based on FreeCAD assembly translation and
  rotation
  - mcu_base is the origin positon 0,0,0
  - see 'Hardware/' under 'phunguyen/basic-assembly' branch,
   grep for 'zero pose' commit.
  =============================================================
   -->
  <joint name="mcu_base_to_j1_base_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_base_link"/>
    <origin xyz="0 0.075 0.018"/>
  </joint>

  <joint name="mcu_base_to_j1_turret_housing_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_turret_housing_link"/>
    <origin xyz="0 0.225 0.025"/>
  </joint>

  <joint name="mcu_base_to_j1_spindle_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_spindle_link"/>
    <origin xyz="0 0.225 -0.007"/>
  </joint>

  <joint name="mcu_base_to_j1_platform_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j1_platform_link"/>
    <origin xyz="0 0.225 0.090"/>
  </joint>

  <joint name="mcu_base_to_j2_turret_housing_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j2_turret_housing_link"/>
    <origin rpy="${pi/2} 0 ${-pi/2}" xyz="-0.021 0.245 0.090"/>
  </joint>

  <joint name="mcu_base_to_j2_spindle_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j2_spindle_link"/>
    <origin rpy="${pi/2} 0 ${pi/2}" xyz="-0.061 0.285 0.140"/>
  </joint>

  <joint name="mcu_base_to_j2_tension_ring_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j2_tension_ring_link"/>
    <origin rpy="${-pi/2} 0 ${pi/2}" xyz="0.010 0.285 0.140"/>
  </joint>

  <joint name="mcu_base_to_j2_arm_joint" type="fixed">
    <parent link="mcu_base_link"/>
    <child link="j2_arm_link"/>
    <origin rpy="${pi/2} 0 0" xyz="-0.056 0.315 0.110"/>
  </joint>

</robot>
